@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>THÔNG TIN SINH VIÊN</h3>
<table margin-left="20px">
    <tr>
        <td>
            Mã sinh viên:
        </td>
        <td>61133631</td>
    </tr>
    <tr>
        <td>
            Họ tên:
        </td>
        <td>Mạnh Văn Hiệp</td>
    </tr>
    <tr>
        <td>
            Lớp:
        </td>
        <td>61-CNTT2</td>
    </tr>
</table>
